body {
    font-family: Arial, sans-serif;
    background-color: #8c8cba;
    margin: 0;
    padding: 0;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.search-input, .sort-select, .search-button {
    padding: 10px;
    margin: 5px;
    border: 3px solid #ff0000;
    border-radius: 40px;
    font-size: 16px;
}

.search-button {
    background-color: #4CAF50;
    color: rgb(119, 57, 57);
    border-radius: 40px;
    border: none;
    cursor: pointer;
}

.search-button:hover {
    background-color: #45a049;
}

h2 {
    text-align: center;
    color: #f50909;
}

.styled-table {
    border-collapse: collapse;
    margin: 25px auto;
    font-size: 18px;
    min-width: 600px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table th, .styled-table td {
    padding: 12px 15px;
    text-align: left;
}

.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

.styled-table tbody td form {
    display: inline-block;
}

.styled-table tbody td form input[type="submit"] {
    padding: 5px 10px;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.styled-table tbody td form input[type="submit"]:hover {
    background-color: #d32f2f;
}
.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.form-container input[type="text"], .form-container input[type="submit"] {
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.form-container input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

.form-container input[type="submit"]:hover {
    background-color: #45a049;
}

h2 {
    text-align: center;
    color: #333;
}

